<section>
    <div class="ark-wrap ark-section-wrap">
        <div class="ark-section-title ark-topoffset-50">{{ 'ACTIVITY_GRAPH.TITLE' | translate}}</div>
        <div class="ark-block-text ark-offset-bottom">{{ 'ACTIVITY_GRAPH.DESCRIPTION' | translate}}</div>
        <div class="ark-section-title">{{ 'ACTIVITY_GRAPH.LEGEND_TITLE' | translate}}</div>
        <div class="ark-block-text">{{ 'ACTIVITY_GRAPH.LEGEND_DESCRIPTION' | translate}}</div>
        <div class="graph-legend">
            <span class="ark-btn ark-account-btn">{{ 'ACTIVITY_GRAPH.LEGEND.ACCOUNT' | translate}}</span>
            <span class="ark-btn ark-block-btn">{{ 'ACTIVITY_GRAPH.LEGEND.BLOCK' | translate}}</span>
            <span class="ark-btn ark-tx-btn">{{ 'ACTIVITY_GRAPH.LEGEND.TX' | translate}}</span>
            <span class="ark-btn ark-credit-btn">{{ 'ACTIVITY_GRAPH.LEGEND.CREDIT' | translate}}</span>
            <span class="ark-btn ark-debit-btn">{{ 'ACTIVITY_GRAPH.LEGEND.DEBIT' | translate}}</span>
        </div>
        <div class="ark-legent-block ark-flex-between">
            <div class="ark-legent-graph">
                <div class="ark-legent-label">{{ 'ACTIVITY_GRAPH.UPDATE' | translate}}</div>
                <div id="sigma-canvas" class="sigma-graph-container">
                    <div class="ark-sigma-loader ark-loader-block" *ngIf="showLoader">
                        <div class="ark-loader-icon"></div>
                        <p>{{ 'GENERAL.LOADING' | translate }}...</p>
                    </div>
                    <!-- <div class="hud hud-loading">
                        <div class="text-muted">
                            <span>Loading Graph <i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div> -->
                    <!-- <div class="hud hud-node">
                        <div class="btn-group" role="group" aria-label="Node Buttons">
                            <button type="button" class="btn btn-default btn-lg" (click)="remove()" title="Cancel/remove node selection"><span class="glyphicon glyphicon-remove-sign"></span></button>
                            <a class="btn btn-default btn-lg" target="_new" role="button" title="Open selected node in block explorer"><span class="glyphicon glyphicon-new-window"></span></a>
                        </div>
                    </div> -->
                </div>
                <button class="ark-btn-camera" (click)="resetCamera()">{{ 'ACTIVITY_GRAPH.RESET_CAMERA' | translate}}</button>
            </div>
            <div class="ark-legent-statistics">
                <div class="ark-statistics-header">{{ 'ACTIVITY_GRAPH.STATISTICS.TITLE' | translate}}</div>
                <ul class="ark-statistics-item-data">
                    <li class="ark-flex ark-flex-between">
                        <div class="title">{{ 'ACTIVITY_GRAPH.STATISTICS.TXS' | translate}}</div>
                        <div class="count">{{statistic.txs}}</div>
                    </li>
                    <li class="ark-flex ark-flex-between">
                        <div class="title">{{ 'ACTIVITY_GRAPH.STATISTICS.VOLUME' | translate}}</div>
                        <div class="count">{{statistic.volume * currencyValue}} <span class="opacity">{{currencyName}}</span></div>
                    </li>
                    <li class="ark-flex ark-flex-between">
                        <div class="title">{{ 'ACTIVITY_GRAPH.STATISTICS.BLOCKS' | translate}}</div>
                        <div class="count">{{statistic.blocks}}</div>
                    </li>
                    <li class="ark-flex ark-flex-between">
                        <div class="title">{{ 'ACTIVITY_GRAPH.STATISTICS.TIMESPAN' | translate}}</div>
                        <div class="count">{{statistic.end - statistic.beginning | amDuration:'seconds'}}</div>
                    </li>
                    <li class="ark-flex ark-flex-between">
                        <div class="title">{{ 'ACTIVITY_GRAPH.STATISTICS.ACCOUNTS' | translate}}</div>
                        <div class="count">{{statistic.accounts}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ark-section-title">{{ 'ACTIVITY_GRAPH.NAV_TITLE' | translate}}</div>
        <div class="ark-block-text">{{ 'ACTIVITY_GRAPH.NAV_DESCRIPTION' | translate}}</div>
    </div>
</section>