<div class="ark-header-data ark-flex-center">
  <div class="ark-data-item">
    <span class="ark-item-index" *ngIf="headerHeight">
      <span class="ark-index-title"> {{ 'GENERAL.INFO.HEIGHT' | translate}}:</span>
      <span class="ark-index-data">{{headerHeight}}</span>
    </span>
    <span class="ark-item-index ark-item-nethash" *ngIf="headerNethash">
      <span class="ark-index-title"> {{ 'GENERAL.INFO.NETHASH' | translate}}:</span>
      <span class="ark-index-data">{{headerNethash}}</span>
    </span>
    <span class="ark-item-index" *ngIf="headerSupply">
      <span class="ark-index-title"> {{ 'GENERAL.INFO.SUPPLY' | translate}}:</span>
      <span class="ark-index-data">{{headerSupply}}</span>
    </span>
  </div>
  <div *ngFor="let currency of currencies">
    <div class="ark-data-item" *ngIf="currency.value">
      <span class="ark-item-index">
        <span class="ark-index-title"> ARK/{{ currency.name }}:</span>
        <span class="ark-index-data">{{ currency.value | number: (currency.name === 'BTC' ? '1.8-8' : '1.2-2') }}</span>
      </span>
    </div>
  </div>
</div>
