<footer>
    <div class="ark-wrap">
        <div class="ark-flex ark-flex-between">
            <div class="ark-copyright">@ <a href="https://ark.io/" target="_blank">ark.io</a> | 2017. {{'FOOTER.RIGHTS' | translate }}</div>
            <ul class="ark-social">
                <li class="gh"><a href="https://github.com/ArkEcosystem" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li class="rt"><a href="https://www.reddit.com/r/ArkEcosystem/" target="_blank"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                <li class="fb"><a href="https://www.facebook.com/ArkEcosystem/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="tw"><a href="https://twitter.com/arkecosystem" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="bt"><a href="https://bitcointalk.org/index.php?topic=1649695.0" target="_blank"><i class="fa fa-bitcoin" aria-hidden="true"></i></a></li>
                <li class="sl"><a href="https://ark.io/slack/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>