<li class="ark-menu-item ark-route" (click)="showTools()">
    <div class="ark-dropdown-link">{{ 'HEADER.TOOLS.TITLE' | translate}}</div>
    <ul class="ark-dropdown">
        <li><a [routerLink]="['/topAccounts']" (click)="closeMobileMenu()">{{ 'TOP_ACCOUNTS.TITLE' | translate }}</a></li>
        <li><a [routerLink]="['/activityGraph']" (click)="closeMobileMenu()">{{ 'ACTIVITY_GRAPH.TITLE' | translate }}</a></li>
        <li><a [routerLink]="['/delegateMonitor']" (click)="closeMobileMenu()">{{ 'DELEGATE_MONITOR.TITLE' | translate }}</a></li>
        <li><a href="https://snapshots.ark.io/snapshots/" (click)="closeMobileMenu()">{{ 'HEADER.TOOLS.SNAPSHOTS' | translate }}</a></li>
    </ul>
</li>
