<div class="fixed-header">
    <div class="ark-wrap">
        <header>
          <a class="ark-logo" routerLink="/" (click)="closeMobileMenu()"></a>
          <span class="ark-mobile-header-title">Ark {{headerNethash}}</span>
            <div class="ark-header-items ark-flex-center" [ngClass]="{'open': openMobileMenu}">
                <div class="ark-search-wrap">
                    <input class="ark-text-field ark-search-field" type="search" [(ngModel)]="searchQuery" placeholder="{{ 'HEADER.SEARCH' | translate}}" (keypress)="startSearch($event)" />
                    <button class="ark-search-btn" type="submit" (click)="startSearch()"></button>
                </div>
                <nav class="ark-flex-center">
                    <ul>
                        <ark-toggle-price-chart *ngIf="themeService.displayTogglePriceChartSwitch"></ark-toggle-price-chart>
                        <li *ngIf="themeService.displayTogglePriceChartSwitch" class="ark-toggle-switch-spacer"></li>
                        <ark-toggle-background></ark-toggle-background>
                        <ark-currency-dropdown [rates]="exchangeRate" (openMobMenu)="closeMobileMenu($event)"></ark-currency-dropdown>
                        <ark-tools-dropdown (openMobMenu)="closeMobileMenu($event)"></ark-tools-dropdown>
                    </ul>
                </nav>
              <ark-header-data class="ark-inline-header-data"
                               [currencies]="currencies"
                               [headerHeight]="headerHeight"
                               [headerNethash]="headerNethash"
                               [headerSupply]="headerSupply">
              </ark-header-data>
            </div>
            <div class="ark-menu-btn" (click)="showMobileMenu()"></div>
        </header>
        <ark-header-data class="ark-standalone-header-data"
                         [currencies]="currencies"
                         [headerHeight]="headerHeight"
                         [headerNethash]="headerNethash"
                         [headerSupply]="headerSupply">
        </ark-header-data>
    </div>
</div>
