table {
  border-spacing: 0;
  border-collapse: collapse;
}

tbody tr {
  @apply .transition;
}

tbody tr:nth-child(even) {
  background-color: var(--color-theme-table-row);
}

tbody tr:hover {
  background-color: var(--color-theme-table-row-hover);
  transform: scale(1.015);
  box-shadow: var(--theme-table-hover-shadow);
  z-index: 999;
  border-radius: 7px;
}

tr:hover td {
  background-color: var(--color-theme-table-row-hover);
}

tr:hover td:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

tr:hover td:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.table-component__message {
  @apply .p-4 .pl-10;
}

/* Sticky Table Header */

thead tr {
  background-color: var(--color-theme-table-row-sticky);
  @apply .text-theme-text-thead .text-xs;
}

thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  background-color: var(--color-theme-table-row-sticky);
  z-index: 10;
}

@screen md {
  thead th {
    top: 80px;
  }
}

/* Table Arrows*/

.table-component__th--sort-asc,
.table-component__th--sort-desc,
.table-component__th--sort {
  cursor: pointer;
}

.table-component__th--sort-asc:after {
  background-image: url('../assets/images/arrows/asc.svg');
  height: 12px;
  width: 12px;
  display: inline-block;
  content: "";
}

.table-component__th--sort-desc:after {
  background-image: url('../assets/images/arrows/desc.svg');
  height: 12px;
  width: 12px;
  display: inline-block;
  content: "";
}

/* Table Cells */

.base-cell {
  @apply .p-4 .border-none;
}

.left-cell {
  @apply .base-cell .text-left;
}

.left-start-cell {
  @apply .left-cell .pl-10;
}

.right-cell {
  @apply .base-cell .text-right;
}

.right-end-cell {
  @apply .right-cell .pr-10;
}

/* Table Header Cells */

.base-header-cell {
  @apply .p-4;
}

.left-header-cell {
  @apply .base-header-cell .text-left;
}

.left-header-start-cell {
  @apply .left-header-cell .pl-10;
}

.right-header-cell {
  @apply .base-header-cell .text-right;
}

.right-header-end-cell {
  @apply .right-header-cell .pr-10;
}

.list-row {
  @apply .py-4 .flex .justify-between .flex-wrap;
}

.list-row-border-b {
  @apply .list-row .border-b;
}

.list-row-border-t {
  @apply .list-row .border-t;
}

.list-row-border-b-no-wrap {
  @apply .list-row-border-b .flex-no-wrap;
}

.row-mobile {
  @apply .px-5 .py-4;
}
