.tooltip {
  display: block !important;
  z-index: 10000;
  max-width: calc(100% - 9px);
}

.tooltip[x-placement=top] .tooltip-inner,
.tooltip[x-placement=bottom] .tooltip-inner {
  margin-left: 10px;
  margin-right: 10px;
}

.tooltip .tooltip-inner {
  background: #f1f3fc;
  color: #172130;
  border-radius: 6px;
  padding: 5px 10px 4px;
  word-wrap: break-word;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #f1f3fc;
  z-index: 1;
}

.theme-dark .tooltip .tooltip-inner {
  background: #373b4a;
  color: #ffffff;
}

.theme-dark .tooltip .tooltip-arrow {
  border-color: #373b4a;
}

.tooltip.search-tip .tooltip-inner {
  background-color: #ef192d;
  color: white;
}

.tooltip.search-tip .tooltip-arrow {
  border-color: #ef192d;
  left: 11px !important;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

/* Forging */
.tooltip.tooltip-bg-0 .tooltip-inner {
  background-color: #46b02e;
  color: white;
}

.tooltip.tooltip-bg-0 .tooltip-arrow {
  border-color: #46b02e;
}

/* Missing */
.tooltip.tooltip-bg-1 .tooltip-inner {
  background-color: #f6993f;
  color: white;
}

.tooltip.tooltip-bg-1 .tooltip-arrow {
  border-color: #f6993f;
}

/* Not Forging */
.tooltip.tooltip-bg-2 .tooltip-inner {
  background-color: #ef192d;
  color: white;
}

.tooltip.tooltip-bg-2 .tooltip-arrow {
  border-color: #ef192d;
}

/* Never forged */
.tooltip.tooltip-bg-3 .tooltip-inner {
  background-color: #ef192d;
  color: white;
}

.tooltip.tooltip-bg-3 .tooltip-arrow {
  border-color: #ef192d;
}
