.theme-light {
  --color-theme-text-thead: #c5c7cb;
  --color-theme-table-row-sticky: #fff;
  --color-theme-accents: #ef192d;
  --color-theme-transaction-icon: #037cff;

  --color-theme-page-background-primary: #f5f6fa;
  --color-theme-content-background-primary: #fff;
  --color-theme-feature-background: #20222d;
  --color-theme-table-row: #f8f9fd;
  --color-theme-table-row-hover: #fff;
  --color-theme-text-primary: #172130;
  --color-theme-text-secondary: #395174;
  --color-theme-text-content: #172130;
  --color-theme-text-placeholder: #a0a6c8;
  --theme-shadow: 0 1px 9px rgba(203, 208, 228, 0.19);
  --theme-table-hover-shadow: 0 5px 30px rgba(124, 138, 192, 0.22);
  --theme-border: #eeeeee;
  --theme-border-secondary: #e8eeff;
  --nav-background: #ffffff;
  --nav-border: #f1f3fc;
  --stat-background: #fafbfe;
  --theme-text-tertiary: #838a9b;
  --ark-meter: #e4ece9;
  --theme-button: #e5f0f9;
  --theme-button-active: #c5dbed;
  --theme-button-text: #037cff;
  --theme-button-close: #a0a6c8;
  --theme-switch-button: #d1dfeb;
  --theme-switch-button-circle: #a2b0f5;
  --settings-icon: #395174;
  --theme-resigned-label: #c53a4a;
  --theme-input-field-border: #abbbca;
  --theme-input-field-border-focus: #000000;
  --theme-input-field-border-hover: #037cff;
  --theme-line-separator: #dae1e7;
}

.theme-light footer a {
  color: #838a9b;
}
.theme-light footer a:hover {
  color: #7b8291;
}

.theme-dark {
  --color-theme-text-thead: #a1a2a6;
  --color-theme-table-row-sticky: #25262c;
  --color-theme-accents: #ef192d;
  --color-theme-transaction-icon: #037cff;

  --color-theme-page-background-primary: #1a1b1f;
  --color-theme-content-background-primary: #202126;
  --color-theme-feature-background: #202126;
  --color-theme-table-row: #25262c;
  --color-theme-table-row-hover: #2a2b31;
  --color-theme-text-primary: #ffffff;
  --color-theme-text-secondary: #a1a2a6;
  --color-theme-text-content: #a1a2a6;
  --color-theme-text-placeholder: #787a86;
  --theme-shadow: 0 1px 9px rgba(0, 0, 0, 0.15);
  --theme-table-hover-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  --theme-border: #25262c;
  --theme-border-secondary: #25262c;
  --nav-background: #2a2b31;
  --nav-border: #282a30;
  --stat-background: #202126;
  --theme-text-tertiary: #626466;
  --ark-meter: #26272c;
  --theme-button: #2a2b31;
  --theme-button-active: #42434c;
  --theme-button-text: #fff;
  --theme-button-close: #787a86;
  --theme-switch-button: #383c4d;
  --theme-switch-button-circle: #5b627c;
  --settings-icon: #a1a2a6;
  --theme-resigned-label: #c53a4a;
  --theme-input-field-border: #3d4852;
  --theme-input-field-border-focus: #3d4852;
  --theme-input-field-border-hover: #037cff;
  --theme-line-separator: #585c6f;
}

.theme-dark footer a {
  color: #414348;
}
.theme-dark footer a:hover {
  color: #43475c;
}
