.tooltip {
  display: block !important;
  z-index: 10000;
  max-width: calc(100% - 9px);
}

/* purgecss start ignore */
.tooltip[x-placement=top] .tooltip-inner,
.tooltip[x-placement=bottom] .tooltip-inner {
  margin-left: 10px;
  margin-right: 10px;
}
/* purgecss end ignore */

.tooltip .tooltip-inner {
  background: #f1f3fc;
  color: #172130;
  border-radius: 6px;
  padding: 5px 10px 4px;
  word-wrap: break-word;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #f1f3fc;
  z-index: 1;
}

.theme-dark .tooltip .tooltip-inner {
  background: #373b4a;
  color: #ffffff;
}

.theme-dark .tooltip .tooltip-arrow {
  border-color: #373b4a;
}

.tooltip.search-tip .tooltip-inner {
  background-color: #ef192d;
  color: white;
}

.tooltip.search-tip .tooltip-arrow {
  border-color: #ef192d;
  left: 11px !important;
}

/* purgecss start ignore */
.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
/* purgecss end ignore */

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

/* purgecss start ignore */
.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
/* purgecss end ignore */

/* Forging */
.tooltip.tooltip-bg-success .tooltip-inner,
.tooltip.tooltip-bg-forging .tooltip-inner {
  @apply text-white bg-status-forging;
}

.tooltip.tooltip-bg-success .tooltip-arrow,
.tooltip.tooltip-bg-forging .tooltip-arrow {
  @apply border-status-forging;
}

/* Missing */
.tooltip.tooltip-bg-missed-round .tooltip-inner {
  @apply text-white bg-status-missed-round;
}

.tooltip.tooltip-bg-missed-round .tooltip-arrow {
  @apply border-status-missed-round;
}

/* Not Forging */
.tooltip.tooltip-bg-error .tooltip-inner,
.tooltip.tooltip-bg-not-forging .tooltip-inner {
  @apply text-white bg-status-not-forging;
}

.tooltip.tooltip-bg-error .tooltip-arrow,
.tooltip.tooltip-bg-not-forging .tooltip-arrow {
  @apply border-status-not-forging;
}

/* Never forged */
.tooltip.tooltip-bg-never-forged .tooltip-inner {
  @apply text-white bg-status-not-forging;
}

.tooltip.tooltip-bg-never-forged .tooltip-arrow {
  @apply border-status-not-forging;
}

/* Became active */
.tooltip.tooltip-bg-became-active .tooltip-inner {
  @apply text-white bg-status-became-active;
}

.tooltip.tooltip-bg-became-active .tooltip-arrow {
  @apply border-status-became-active;
}
