<section>
    <div class="ark-section-title">{{ 'BLOCK_LIST.TITLE' | translate }} <span class="ark-subtitle" *ngIf="blocks && blocks.length">{{blocks[0].height}} - {{blocks[blocks.length - 1].height}}</span></div>
    <table class="ark-table">
        <thead>
            <tr>
                <th class="ellipsis width-15">{{ 'GENERAL.INFO.ID' | translate }}</th>
                <th class="ellipsis width-10">{{ 'GENERAL.INFO.HEIGHT' | translate }}</th>
                <th class="ellipsis width-15">{{ 'GENERAL.INFO.TIMESTAMP' | translate }}</th>
                <th class="ellipsis width-15">{{ 'GENERAL.INFO.TRANSACTIONS' | translate }}</th>
                <th class="ellipsis width-15">{{ 'GENERAL.INFO.GENERATED_BY' | translate }}</th>
                <th class="ellipsis width-15">{{ 'GENERAL.INFO.AMOUNT' | translate }} ({{currencyName}})</th>
                <th class="ellipsis width-15">{{ 'GENERAL.INFO.FORGED' | translate }} ({{currencyName}})</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of blocks">
                <td class="ellipsis width-15"><a [routerLink]="['/block', item.id]">{{item.id}}</a></td>
                <td class="ellipsis width-10">{{item.height}}</td>
                <td class="ellipsis width-15">{{item.timestamp | localDate | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
                <td class="ellipsis width-15">{{item.numberOfTransactions}}</td>
                <td class="ellipsis width-15"><a [routerLink]="['/address', item.delegate.address]">{{item.delegate.username}}</a></td>
                <td class="ellipsis width-15">{{(item.totalAmount/100000000)*currencyValue | number: '1.2-8'}}</td>
                <td class="ellipsis width-15">{{(item.totalForged/100000000)*currencyValue | number: '1.2-8'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="blocks-loader ark-loader-block" *ngIf="showLoader">
        <div class="ark-loader-icon"></div>
        <p>{{ 'GENERAL.LOADING' | translate }}...</p>
    </div>
    <div class="ark-pagination ark-flex ark-flex-between">
        <div class="ark-pagination-prev" *ngIf="pagination && pagination.previousPage">
            <i class="fa fa-angle-left angle-icon" aria-hidden="true"></i>
            <a [routerLink]="getPageLink(pagination.previousPage)" (click)="changePage()">
                {{ 'GENERAL.PREV_PAGE' | translate }}
            </a>
        </div>
      <div *ngIf="pagination && !pagination.previousPage && pagination.nextPage">
      </div>
        <div class="ark-pagination-next" *ngIf="pagination && pagination.nextPage">
            <a [routerLink]="getPageLink(pagination.nextPage)" (click)="changePage()">
                {{ 'GENERAL.NEXT_PAGE' | translate }}
            </a>
            <i class="fa fa-angle-right angle-icon" aria-hidden="true"></i>
        </div>
    </div>
</section>
