<table class="ark-table">
    <thead>
        <tr>
            <th class="ellipsis width-15">{{ 'GENERAL.INFO.RANK' | translate}}</th>
            <th class="ellipsis width-15">{{ 'GENERAL.INFO.NAME' | translate}}</th>
            <th class="ellipsis width-20">{{ 'GENERAL.INFO.ADDRESS' | translate}}</th>
            <th class="ellipsis width-15" *ngIf="active">{{ 'GENERAL.INFO.FORGED' | translate}}</th>
            <th class="ellipsis width-15" *ngIf="active">{{ 'GENERAL.INFO.FORGING_TIME' | translate}}</th>
            <th class="ellipsis width-15" *ngIf="active">{{ 'GENERAL.INFO.STATUS' | translate}}</th>
            <th class="ellipsis width-15">{{ 'GENERAL.INFO.PRODUCTIVITY' | translate}}</th>
            <th class="ellipsis width-10">{{ 'GENERAL.INFO.APPROVAL' | translate}}</th>
        </tr>
    </thead>
    <tbody *ngIf="list">
        <tr *ngFor="let item of list">
            <td class="ellipsis width-15">{{item.rate}}</td>
            <td class="ellipsis width-15"><a [routerLink]="['/address', item.address]">{{item.username}}</a></td>
            <td class="ellipsis width-20">{{item.address}}</td>
            <td class="ellipsis width-15" *ngIf="active">{{(item.forged/100000000)*curValue | number: '1.2-8'}} <span class="opacity">{{curName}}</span></td>
            <td class="ellipsis width-15" *ngIf="active">{{item.forgingTime | amDuration:'seconds'}}</td>
            <td class="ellipsis width-15 ark-show-tooltip ark-status-td" *ngIf="active" [ngClass]="{
                'active': item.forgingStatus.code === 0,
                'missing': item.forgingStatus.code === 1,
                'no-forging': item.forgingStatus.code === 2,
                'pending': item.forgingStatus.code === 3,
                'missing-border': item.forgingStatus.code === 4
              }">
                <span class="ark-status-indicator"></span>
                <span class="ark-status-tooltip ark-tooltip">
                <ul [ngSwitch]="item.forgingStatus.code">
                  <li *ngSwitchCase="0" class="ark-tooltip-title">{{ 'DELEGATE_MONITOR.STATUS.FORGING' | translate}}</li>
                  <li *ngSwitchCase="1" class="ark-tooltip-title">{{ 'DELEGATE_MONITOR.STATUS.MISSING' | translate}}</li>
                  <li *ngSwitchCase="2" class="ark-tooltip-title">{{ 'DELEGATE_MONITOR.STATUS.NOT_FORGING' | translate}}</li>
                  <li *ngSwitchCase="3" class="ark-tooltip-title">{{ 'DELEGATE_MONITOR.STATUS.AWAITING_SLOT' | translate}}</li>
                  <li *ngSwitchCase="4" class="ark-tooltip-title">{{ 'DELEGATE_MONITOR.STATUS.AWAITING_SLOT' | translate}}</li>
                  <li *ngSwitchDefault></li>
                </ul>
                {{ 'DELEGATE_MONITOR.STATUS.LAST_BLOCK' | translate}} @ {{item.forgingStatus?.lastBlock?.height}}
                <span class="ark-updated-time">{{item.forgingStatus?.lastBlock?.timestamp | localDate | amTimeAgo}}</span>
                </span>
            </td>
            <td class="ellipsis width-15">{{item.productivity}}%</td>
            <td class="ellipsis width-10">{{item.approval}}%</td>
        </tr>
    </tbody>
</table>
