@import "_variables.less";

.extra-footer {
  padding-bottom: 82px;
}

.ark-section-title {
  font-family: 'Comfortaa-Regular';
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.ark-section-title-addition {
  opacity: 0.5;
  font-size: 18px;
}

.opacity {
  opacity: 0.5;
}

.ark-border-box {
  border-top: 1px solid @input-border-color;
}

.ark-block-text {
  font-family: 'Comfortaa-Regular';
  font-size: 13px;
  margin: 8px 0;
  &.ark-offset-bottom {
    margin-bottom: 50px;
  }
}

.ark-section-wrap {
  min-height: calc(~'100vh - 125px');
}

.ark-summary-title {
  &.ark-width-20 {
    min-width: 80px;
  }
}

.ark-summary-data {
  text-align: right;
  word-break: break-all;
}

.ark-show-clipboard {
  position: relative;
}

.toast-container .toast {
  background-size: 18px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-family: Avenir, serif;
  font-size: 14px;
  padding: 10px 10px 10px 50px !important;

  &.toast-success {
    background-color: @light-primary-color;
  }

  &.toast-info {
    background-color: @dark-tooltip-bg;
  }
}

@media (max-width: @tablet) {
  .ark-section-title {
    &.ark-topoffset-60 {
      margin-top: 60px;
    }
  }

  .toast-container.toast-top-right {
    top: unset;
    bottom: 0;
    right: 0;
    width: 100%;

    .toast {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: @mobile) {
  .ark-section-title {
    font-size: 20px;
    line-height: 26px;
  }
}

.dark-theme {
  background: @dark-primary-color;
  color: @dark-body-color;
}
